page-home {
  
  .content-ios {
    background: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-md {
    background: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-wp {
    background: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .button {
    font-size: 1.8rem;
    font-weight: 600;
    height: 5.6rem;
  }

  img {
    width: auto;
    margin: auto;
    display: block;
  }
   
  ion-grid {
    bottom: 0px;
    position: absolute;
  }

}
