page-offers {

  .card-ios {
    margin: 0px;
    width: 100%;
  }

  .card-md {
    margin: 0px;
    width: 100%;
  }

  .card-wp {
    margin: 0px;
    width: 100%;
  }

  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
  }

}